doctype html
html
  head 
    title My Blog
    style 
     
      include ../css/reset.css
      include ../css/style.css
      include ../css/compose.css
  body 
    include ./header.pug
    h2 Create a post
      
      
      if user
        form(action="/api/movies" method="post")
          if errors
            each error in errors
              div.error= error.msg
          input(type="text" placeholder="name" name="name" value=user.name)
          input(type="text" placeholder="rating" name="rating" value=user.rating) 
          input(type="text" placeholder="year" name="year" value=user.year)
          textarea(cols="30" rows="10" name="review" placeholder="Review") #{user.review} 
          button(type="submit" name="button") Publish Movie 
      else
        form(action="/api/movies" method="post")
          if errors
            each error in errors
              div.error= error.msg
          input(type="text" placeholder="name" name="name")
          input(type="text" placeholder="rating" name="rating")
          input(type="text" placeholder="year" name="year")
          textarea(cols="30" rows="10" name="review") Some text 
          button(type="submit" name="button") Publish Movie 